.DS_Store
*.patch
*.diff
.*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
depcomp
compile
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
install-sh
libtool
ltmain.sh
m4
missing
include/.DS_Store
include/libfragmentzip/.DS_Store
libfragmentzip.pc
libfragmentzip/.DS_Store
libfragmentzip/*.a
libfragmentzip/*.o
libfragmentzip/*.la
libfragmentzip/*.lo
libfragmentzip/.libs
libfragmentzip/.deps
stamp-h1